<!--{% extends 'base.html' %}
{% block title %}Member Dashboard{% endblock %}
{% block content %}
<h2>Welcome Member</h2>
<ul>
    <li><a href="#">Search Books</a></li>
    <li><a href="#">View Borrowed History</a></li>
</ul>
{% endblock %}-->


{% extends 'base.html' %}
{% block title %}Member Dashboard{% endblock %}
{% block content %}
<h2>Welcome Member!</h2>
<p>You can view your borrowed books and due dates here.</p>
<!-- Extend this page with transaction details -->
{% endblock %}
